# Managed by Ansible (0xOI/ansible-role-lotus)
# see https://docs.lotu.sh/en+getting-started for more details

{% for section in conf %}
[{{ section.key }}]
{% for key, value in section %}
{% if value is string %}
{{ key }} = "{{ value }}"
{% else %}
{{ key }} = {{ value | to_json }}
{% endif %}
{% endfor %}

{% endfor %}
